global:
  scrape_interval: 15s
  evaluation_interval: 15s

# Scrape configurations
scrape_configs:
  - job_name: 'prometheus'

    scrape_interval: 15s
    scrape_timeout: 15s

    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'order_server'

    scrape_interval: 15s
    scrape_timeout: 15s

    static_configs:
      - targets: [ 'host.docker.internal:8080' ]

